jupyterlab
llama-cpp-python[server]
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tqdm
ipywidgets
ipykernel
jupyterlab-git
jupyterlab-lsp
python-language-server[all]
tensorflow
torch
torchvision
transformers
datasets
sentence-transformers
notebook
